@font-face {
    font-family: 'a_LCDNova';
    src: url('./fonts/a_LCDNova/a_lcdnova_[allfont.ru].ttf') format('truetype');
}

.App {
    display: flex;
    flex-direction: column;

    max-width: 100vw;
    height: 100vh;

    font-size: 18px;
    font-weight: 600;

    overflow: hidden;

    a {
        text-decoration: none;
    }
}